
.search-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 85px 30px 50px 30px;
    text-align: center;
    background-color: #040714;
}
.search-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 30px;
    background-color: #040714;
}
.movie {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(50% - 15px);
    margin: 0 7px 20px;
}
.movie__column-poster {
    cursor: pointer;
    transition: transform 0.3s;
}
.movie__column-poster:hover {
    transform: scale(1.02);
}
.movie__poster {
    width: 100%;
    border-radius: 5px;
}
.no-results {
    position: relative;
    padding-top: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    padding: 0 30px;
    color: #c5c5c5;
    background-color: #040714;
}
.no-results__text {
    font-size: 16px;
    text-align: center;
}
.highlight {
    color: #0063e5;
}
  @media screen and (max-width: 1280px) {
    .search-container, .no-results {
        padding-top: 70px;
    }
  }
  @media screen and (max-width: 786px){
    .movie {
        width: 100%;
        margin: 0 0 20px;
    }
  }